<div class="container">
  <%= link_to "New Post", new_article_path %>
  <div class="post">
    <% @articles.each do |article| %>
      <div class="post-title">
        <%= article.title %>
      </div>
      <div class="post-body">
        <%= article.body %>
      </div>
      <div class="post-credits">
        <div class="post-date">
          <%= article.updated_at.strftime("%d %b %Y") %>
        </div>
        <div class="post-user">
          <!-- need to link to show individual user page -->
          by <%= article.user.try(:username) %>
        </div>
        <div class="post-ed">
          <% if logged_in %>
            <%= link_to "edit", edit_article_path(article) %>
            <%= link_to 'del', article_path(article), method: :delete, data: {confirm: "are you sure?"} %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>