<!DOCTYPE html>
<html>
<head>
  <title>Alistair Hill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="logo">
    <%= link_to "Alistair Hill", root_path %>
  </div>
  <%= render 'shared/navbar' %>
  <%= yield %>
</body>
</html>
